development:
  adapter: postgresql
  encoding: unicode
  database: dev_task_manager
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: test_task_manager
  pool: 5
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: prod_task_manager
  pool: 5
  username:
  password:
